/* *{
    margin: 0;
    padding: 0;
}

body{ */
    /* background-image: url('bg.jpeg'); 
    background-size: cover; */

    
    /* overflow: hidden;
    height: 100vh;
}

.taskbar{
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
}

.startmenu{
    position: absolute;  */
    /* bottom: 50px; */



    /* bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in; 
}

.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}  
.icons{
    color: white;
} */

*{
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

body{
    height: 100%;
    width: 100vw;
    background:url("bg.jpg");
    object-fit: cover;
    background-size: cover;
    /* overflow-y: hidden; */
}

.startIcons{
position: absolute;
bottom: 0;
margin: auto;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.startMenue{
    position: absolute;
    bottom: -500px;

    overflow: hidden;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar{
    
}

.notify{
    position: absolute;
    right: 0;
    bottom: 0;

}

.notifyMenue{
position: absolute;
right: 0;
bottom: 42px;
right: -425px;
}

.searchBar input{
    width: 400px;;
    border-radius: 4px;
    height: 37px;
    position: absolute;
    bottom: 0;
}


.startIcons img{
    height: 45px;
    width: 435px;
    border-radius: 5px;
}

.startMenue img{
    height: 450px;
    display: none;   
    border-radius: 8px;
}

.showStart{
    bottom: 54px;
}

.showStart img{    
    display:inline-block;
}

.notify img{
    padding: 0;
    height: 40px;
    width: 245px;
    border-radius: 3px;
   
    
}

.notifyMenue img{
    display: none;
}

.showNotify{
    right: 0px;
}

.showNotify img{
display: inline-block;
}
