*{
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}

body{
    height: 100%;
    width: 100vw;
    background: url('bg.jpg');
    object-fit: cover;
    background-size: cover;
    /* overflow-y: hidden; */
}

.startIcons{
position: absolute;
bottom: 0;
margin: auto;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.startMenue{
    position: absolute;
    bottom: -500px;

    overflow: hidden;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar{
    
}

.searchBar input{
    width: 400px;;
    border-radius: 4px;
    height: 37px;
    position: absolute;
    bottom: 0;
}


.startIcons img{
    height: 45px;
    width: 435px;
    border-radius: 5px;
}

.startMenue img{
    height: 450px;
    display: none;   
    border-radius: 8px;
}

.showStart{
    bottom: 54px;
}

.showStart img{    
    display:inline-block;
}
